.notDisplay {
  display: none;
}

.line-btn {
  padding: 0%;
  // margin-bottom: 2vw;
  // margin-left: 2vw;
  width: 4rem;
  background: #ffffff;
  border: 1px solid #ffffff;
  &:hover {
    border: 1px solid #2c2e32;
    color: #eb5e52;
    background-color: #ffffff;
    cursor: pointer;
  }
}

.bar-btn {
  // padding: 0%;
  // margin-bottom: 2vw;
  // margin-left: 2vw;
  width: 4rem;
  background: #ffffff;
  border: 1px solid #ffffff;
  &:hover {
    border: 1px solid #2c2e32;
    color: #eb5e52;
    background-color: #ffffff;
    cursor: pointer;
  }
}

.choro-map {
  // padding: 0%;
  // margin-bottom: 2vw;
  // margin-left: 2vw;
  width: 4rem;
  background: #ffffff;
  border: 1px solid #ffffff;
  &:hover {
    border: 1px solid #2c2e32;
    color: #eb5e52;
    background-color: #ffffff;
    cursor: pointer;
  }
}

.bubble-map {
  width: 4rem;
  background: #ffffff;
  border: 1px solid #ffffff;
  &:hover {
    border: 1px solid #2c2e32;
    color: #eb5e52;
    background-color: #ffffff;
    cursor: pointer;
  }
}
