.App {
  .main-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 100px;
    margin-bottom: 100px;

    .header {
      height: 100px;
      width: 1200px;
      background: #2c2e32;

      display: flex;
      align-items: center;

      h1 {
        font-size: 24px;
        color: #ffffff;
        font-family: Helvetica, sans-serif;
        margin-left: 20px;
      }
    } //header

    .content-container {
      margin-top: 35px;
      display: flex;
      margin-left: 40px;
      width: 100%;

      .chart-container {
        width: calc(75% - 40px);

        .Chart {
          height: 500px;
          
          h2 {
            font-size: 24px;
            font-family: Helvetica, sans-serif;
            padding-bottom: 40px
          }

          p {
            font-family: Helvetica, sans-serif;
            font-size: 14px;
            padding: 30px 40px;
            line-height: 1.2;
          }
        }
      }

      .dropdown-container {
        font-family: Helvetica, sans-serif;
        color: #586060;
        font-weight: bold;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 25%;

        p {
          font-size: 14px;
          margin-bottom: 10px;
        }

        .dropdown {
          font-size: 18px;
          font-weight: normal;
          display: flex;
          align-items: center;
        }
        .myControlClassName {
          width: 100%;

          padding-top: 26px;
          padding-bottom: 26px;
          display: flex;
          align-items: center;
        }
        .myArrowClassName {
          padding-top: 26px;
          padding-bottom: 26px;
        
        }
        .Dropdown-arrow {
          position: absolute;
          top: 30px;
          right: 20px;
        }
      }
    }
  }
}
