$greyColor: #4d4f52;

.Graph-Container{
  height:600px;
}

.loader-container{
  box-sizing: border-box;
  height:600px;
  width: 887px;
  margin-top: 50;
  margin-right: 200;
  margin-bottom: 75;
  margin-left: 80
}

.loader{
  padding-top: 28%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.App {
  .graph-title{font-size: 2rem; font-family: 'Helvetica', sans-serif}
  .TopBar {
    display: flex;
    background-color: #212121;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-evenly;

    .Sauti-Logo {
      font-family: Montserrat;
      font-size: 3.0rem;
      font-weight: 1000;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      margin: 20px;
      color: white;
      margin-left: 40px;
      text-decoration: none;

      a {
        text-decoration: none;
        color: white;
      }

      span {
        color: #eb5e52;
      }
    }
    .Navigation {
      display: flex;
      justify-content: space-evenly;
      a {
        text-decoration: none;
        color: white;
        margin-right: 40px;
        font-family: Helvetica;
        font-size: 1.2rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
      }
    }
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 75px;
    margin-bottom: 100px;

    .header {
      height: 88px;
      width: 85vw;
      background: #212121;
      display: flex;
      align-items: center;

      h1 {
        font-size: 28px;
        color: #ffffff;
        font-family: Helvetica, sans-serif;
        margin-left: 20px;
      }
    } //header

    .content-container {
      margin-top: 65px;
      display: flex;
      justify-content: space-between;
      width: 100%;

      .chart-container {
        width: calc(75% - 40px);

        .Chart {
          height: 500px;

          h2 {
            padding-bottom: 35px;
            font-family: Helvetica;
            font-size: 2.8rem;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $greyColor;
          }

          .lineCont {
            display: flex;
            padding-bottom: 20px;

            .lineOne {
              margin-left: 40px;
              border-bottom: 1px solid #d0d2d6;
              width: 50%;
            }

            .lineTwo {
              border-bottom: 4px solid #d0d2d6;
              width: 50%;
            }
          }

          .method-title {
            padding: 50px 40px 20px 0px;
            font-family: Helvetica;
            font-size: 2.8rem;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $greyColor;
          }

          p {
            padding: 10px 0px 10px 40px;
            font-family: Helvetica, sans-serif;
            font-size: 1.4rem;
            line-height: 1.2;
            color: $greyColor;
            margin-bottom: 50px;
          }
        }
      }

      .options-loader {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      // .dropdown-container {
      //   font-family: Helvetica, sans-serif;
      //   color: $greyColor;
      //   font-weight: bold;

      //   display: flex;
      //   flex-direction: column;
      //   justify-content: flex-start;
      //   width: 26.9rem;

      //   p {
      //     font-size: 1.3rem;
      //     margin-bottom: 10px;
      //   }

      //   .dropdown {
      //     color: $greyColor;
      //     font-size: 1.6rem;
      //     font-weight: normal;
      //     display: flex;
      //     align-items: center;
      //   }
      //   .myControlClassName {
      //     width: 100%;

      //     padding-top: 15px;
      //     padding-bottom: 15px;
      //     display: flex;
      //     align-items: center;
      //   }
      //   .Dropdown-arrow {
      //     position: absolute;
      //     top: 21px;
      //     right: 15px;
        
    }
  }
}
