body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Chart {
  height: 500px;
  width: 800px;
}

.dropdowns-container {
  display: flex;
}

.gender-dropdown {
  width: 150px;
  margin-right: 50px;
}

.year-dropdown {
  width: 150px;
}

.link-button-chart {
  margin: 50px;
  padding: 25px;
  position: relative;
}

.link-div {
  display: flex;
  margin-top: 50px;
}